.step {
    background:#eee;
    font-size:1em;
    color:#ccc;
    padding:15px;
    font-size:1.25em;
}
.step.active {
    color:#fff;
    background-color: #ff9022;
}
.step .caret {
    position:absolute;
    margin:0;color:darkblue;
    opacity:1.0;
}
.step .caret.right {
    right:1px;
    top:0px;
    border-top:27px solid transparent;
    border-bottom:28px solid transparent;
    border-left:30px solid;}

.step .caret.bottom {
    bottom:-15px;
    left:35%;
    border-top:15px solid;
    border-right:50px solid transparent;
    border-left:50px solid transparent;
}
@media(max-width:991px) {
  .step {
    text-align:center;
    margin-top:20px;
    height:80px;
  }
  .step .caret.right {
    top:20px;
    border-top:40px solid transparent;
    border-bottom:40px solid transparent;
  }
}

@media(max-width:767px) {
  .step .caret {
    height:auto;
  }
}

@media(min-width:768px) {
  .step {margin-right:20px;}
}