img {
    width: 500px;
    height: auto;
}
/* sm */
@media (min-width: 768px) {
    img {
        width: 550px;
    }
}
/* md */
@media (min-width: 992px) {
    img {
        width: 700px;
    }
}
/* lg */
@media (min-width: 1200px) {
    img {
        width: 950px;
    }
}